* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'base/animations';
@import 'base/bars';
@import 'base/buttons';
@import 'base/colors';
@import 'base/fonts';
@import 'base/productcards';
@import 'base/shadows';
@import 'base/textarea';
@import 'components/header';
@import 'components/indexmain';
@import 'components/nosotrosmain';
@import 'components/preguntasfrecuentesmain';
@import 'components/productosmain';
@import 'components/ubicacionmain';
@import 'components/contactomain';
@import 'components/registromain';
@import 'components/footer';

.disclaimer {
    display: none;
}