/* Paleta de colores: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Contenedor del navbar */
  .navbar-container {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  /* Formato del nombre de la marca */
  .brand {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    animation: brand 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  @keyframes brand {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
  
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  .nav-item {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    background-image: linear-gradient(transparent 0%, transparent 90%, black 90%, black 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
  }
  
  .nav-item:hover {
    background-size: 100% 100%;
    background-position-x: left;
  }
  
  /* Fondo debajo de header */
  .background-container {
    width: 100%;
    height: 43.75em;
    background-image: url('resources/foto-portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Caja dentro de la primera sección */
  .card-color {
    background-color: #457B9D;
    color: #1D3557;
    overflow: hidden;
  }
  
  h1 {
    font-family: 'Candara';
    font-size: xx-large;
    color: white;
    text-shadow: -2px 2px 2px 0E1111;
  }
  
  /* Botón <ver más> */
  .see-more-button {
    width: 20%;
    height: 15%;
    color: black;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    text-decoration: none;
    background-color: white;
    box-shadow: #1D3557 0.25em 0.25em 0;
    border-radius: 0.5em;
    transition: transform 200ms, box-shadow 200ms;
  }
  
  .see-more-button:hover {
    transform: translateY(0.25em) translateX(0.25em);
    box-shadow: #1D3557 0 0 0;
  }
  
  /* Productos destacados. Título. */
  .featured-title {
    font-family: 'Staatliches', cursive;
    color: black;
    text-transform: uppercase;
  }
  
  /* Fuente de las tarjetas */
  .card-font {
    font-family: 'Nunito', cursive;
  }
  
  /* Botón <añadir al carrito> */
  .add-to-cart-button,
  .send-button {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    text-decoration: none;
    background-color: #457B9D;
    width: 70%;
    height: 30%;
    border-radius: 0.6em;
    box-shadow: #1D3557 0.25em 0.25em 0;
    border-radius: 0.5em;
    transition: transform 200ms, box-shadow 200ms;
  }
  
  .add-to-cart-button:hover,
  .send-button:hover {
    transform: translateY(0.25em) translateX(0.25em);
    box-shadow: #1D3557 0 0 0;
  }
  
  /* Fondo de footer */
  .footer-color {
    background-color: #0E1111;
    color: white;
  }
  
  /* Seguinos */
  .follow-us-text {
    font-family: 'Nunito';
    color: white;
  }

/* Barra de los html */
.us-background,
.products-background,
.faq-background,
.location-background,
.contact-background {
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 5em;
    background-color: #0E1111;
}

.us-background div,
.products-background div,
.faq-background div,
.location-background div,
.contact-background div {
    display: flex;
    vertical-align: middle;
    width: 100%;
    padding: 0 2em;
}

/* Formato del texto en la barra */
.us-text,
.products-text,
.faq-text,
.location-text,
.contact-text {
    margin: auto;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 2em;
    color: white;
}

/* Bloque que contiene al artículo completo */
.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
    justify-items: center;
    gap: 2em;
    padding: 3em 9em;
}

/* Contiene el texto y la imagen del artículo */
.article-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
    gap: 2em;
    margin: 2em;
}

/* Contenedor del texto del artículo */
.article-text-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

/* Formato del texto del artículo */
.article-text {
    display: flex;
    vertical-align: middle;
    margin: auto;
    font-family: 'Nunito', cursive;
    text-align: justify;
}

/* Contenedor de la imagen del artículo */
.article-image-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
}

/* Sección. <¿Por qué elegirnos?> */
.choosing-us-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    grid-column-gap: 0;
    grid-row-gap: 1em;
    justify-items: center;
    padding: 1.5em 3em 4.5em 3em;
}

/* Formato. <¿Por qué elegirnos?> */
.choosing-us-text {
    display: grid;
    align-items: center;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.063em;
    font-size: 2em;
    text-align: center;
}

/* Contenedor de motivos */
.motives-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    grid-column: 1em;
    gap: 1em;
    justify-items: center;
    width: 95%;
    margin: 1em auto;
    padding: 1em;
}

/* Contenedor del motivo */
.motives-container div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 5em);
    justify-items: center;
    align-items: center;
    padding: 0 1em;
}

/* Íconos del motivo */
.motives-container div img {
    display: grid;
    justify-items: center;
    margin: auto;
}

/* Título del motivo */
.motives-container div h3 {
    display: grid;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.063em;
    font-size: 1.5em;
    text-align: center;
    padding: 1em 0;
}

/* Descripción del motivo */
.motives-text {
    display: grid;
    align-items: center;
    margin: auto;
    font-family: 'Nunito', cursive;
    text-align: justify;
}

/* Contenedor de preguntas frecuentes */
.faq-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

/* Formato de las preguntas */
.faq-question {
    font-family: 'Staatliches', cursive;
}

/* Formato de las respuestas */
.faq-answer {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0.5em 0;
    font-family: 'Nunito', cursive;
}

/* Separación entre la última pregunta y footer */
.faq-answer-padding-bottom {
    padding-bottom: 2em;
}

/* Contenedor de los locales */
.stores-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37.5em, 1fr));
    grid-column-gap: 2em;
    justify-items: center;
    align-items: center;
    padding: 4em 6em;
}

/* Contenedor del local indvidual */
.store-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
    width: 37.5em;
    height: 34em;
    border-style: dashed;
    border-width: 0.063em;
    overflow: hidden;
    margin: 1.5em 0;
}

/* Contenedor del mapa */
.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
    z-index: 0;
}

/* Responsive iframe */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Formato de la dirección */
.store-location {
    font-family: 'Nunito', cursive;
}

/* Formulario */
.form-container {
    margin: 1.25em 0;
}

/* Ubicación del formulario */
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
}

/* Título del formulario */
.contact-us {
    font-family: 'Nunito', cursive;
}

/* Cajas del formulario */
.name-box,
.email-box,
.subject-box {
    display: flex;
    padding: 0.5em;
    margin: 0.5em auto;
    max-width: 23em;
    min-width: 31em;
    border-style: solid;
    border-width: 0.063em;
    color: #6F6F6F;
}

/* Caja de mensaje */
.message-box {
    display: flex;
    padding: 0.5em;
    margin: 0.5em auto;
    max-width: 23em;
    min-width: 31em;
    height: 19em;
    border-style: solid;
    border-width: 0.063em;
    color: #6F6F6F;
}

/* Botón para enviar */
.send-button-container {
    display: flex;
    justify-content: center;
    width: 15%;
    height: 15%;
}