/* Paleta de colores: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Contenedor del navbar */
  .navbar-container {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  /* Formato del nombre de la marca */
  .brand {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: #0E1111;
    text-decoration: none;
    text-transform: lowercase;
    animation: brand 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  
  @keyframes brand {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
  
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  .nav-item {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    background-image: linear-gradient(transparent 0%, transparent 90%, #0E1111 90%, #0E1111 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
  }
  
  .nav-item:hover {
    background-size: 100% 100%;
    background-position-x: left;
  }
  
  /* Fondo debajo de header */
  .background-container {
    width: 100%;
    height: 43.75em;
    background-image: url('resources/foto-portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Caja dentro de la primera sección */
  .card-color {
    background-color: #457B9D;
    color: #1D3557;
    overflow: hidden;
  }
  
  h1 {
    font-family: 'Candara';
    font-size: xx-large;
    color: white;
    text-shadow: -2px 2px 2px 0E1111;
  }
  
  /* Botón <ver más> */
  .see-more-button {
    width: 20%;
    height: 15%;
    color: #0E1111;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    text-decoration: none;
    background-color: white;
    box-shadow: #1D3557 0.25em 0.25em 0;
    border-radius: 0.5em;
    transition: transform 200ms, box-shadow 200ms;
  }
  
  .see-more-button:hover {
    transform: translateY(0.25em) translateX(0.25em);
    box-shadow: #1D3557 0 0 0;
  }
  
  /* Productos destacados. Título. */
  .featured-title {
    font-family: 'Staatliches', cursive;
    color: #0E1111;
    text-transform: uppercase;
  }
  
  /* Fuente de las tarjetas */
  .card-font {
    font-family: 'Nunito', cursive;
  }
  
  /* Botón <añadir al carrito> */
  .add-to-cart-button,
  .send-button {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    text-decoration: none;
    background-color: #457B9D;
    width: 70%;
    height: 30%;
    border-radius: 0.6em;
    box-shadow: #1D3557 0.25em 0.25em 0;
    border-radius: 0.5em;
    transition: transform 200ms, box-shadow 200ms;
  }
  
  .add-to-cart-button:hover,
  .send-button:hover {
    transform: translateY(0.25em) translateX(0.25em);
    box-shadow: #1D3557 0 0 0;
  }
  
  /* Letras de footer */
  .footer-color {
    color: white;
  }
  
  /* Seguinos */
  .follow-us-text {
    font-family: 'Nunito';
    color: white;
  }

/* Barra de los html */
.us-background,
.products-background,
.faq-background,
.location-background,
.contact-background {
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 5em;
    background-color: #0E1111;
}

.us-background div,
.products-background div,
.faq-background div,
.location-background div,
.contact-background div {
    display: flex;
    vertical-align: middle;
    width: 100%;
    padding: 0 2em;
}

/* Formato del texto en la barra */
.us-text,
.products-text,
.faq-text,
.location-text,
.contact-text {
    margin: auto;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 2em;
    color: white;
}

/* Bloque que contiene al artículo completo */
.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
    justify-items: center;
    gap: 2em;
    padding: 3em 9em;
}

/* Contiene el texto y la imagen del artículo */
.article-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
    gap: 2em;
    margin: 2em;
}

/* Contenedor del texto del artículo */
.article-text-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

/* Formato del texto del artículo */
.article-text {
    font-family: 'Nunito', cursive;
    text-align: justify;
}

/* Formato. <¿Por qué elegirnos?> */
.choosing-us-text {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.063em;
    font-size: 2em;
}

/* Título del motivo */
.motives-title {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.063em;
    font-size: 1.5em;
}

/* Descripción del motivo */
.motives-text {
    font-family: 'Nunito', cursive;
    text-align: justify;
}

/* Formato de las preguntas */
.faq-question {
    font-family: 'Staatliches', cursive;
}

/* Formato de la dirección */
.store-location {
    font-family: 'Nunito', cursive;
}

/* Formulario */
.form-container {
    margin: 1.25em 0;
}

/* Título del formulario */
.contact-us {
    font-family: 'Nunito', cursive;
}

/* Botón para enviar */
.send-button-container {
    display: flex;
    justify-content: center;
    width: 15%;
    height: 15%;
}