/* Paleta de colores: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formato de header */
.nav-container {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

/* Barra de navegación */
.nav-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

/* Formato del nombre de la marca */
.brand {
    display: grid;
    grid-area: 1/1/2/2;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    margin: 1rem;
    animation: brand 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes brand {
    0% {
        filter: blur(0.75rem);
        opacity: 0;
    }

    100% {
        filter: blur(0rem);
        opacity: 1;
    }
}

/* Menú de navegación */
.nav-item-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
}

/* Enlaces de navegación */
.nav-item {
    display: flex;
    align-items: center;
    margin: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    background-image: linear-gradient(transparent 0%, transparent 90%, black 90%, black 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

.nav-item:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

main {
    background-color: white;
}

/* Fondo debajo de header */
.background-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 43.75rem;
    background-image: url('resources/foto-portada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Caja dentro de la primera sección */
.ad-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    width: 33.125rem;
    height: 13.125rem;
    background-color: #457B9D;
    color: #1D3557;
    box-shadow: -0.125rem 0.125rem 0.125rem rgba(0,0,0,0.2);
    text-align: center;
    overflow: hidden;
    padding: 0.6rem 0;
}

h1 {
    font-family: 'Candara';
    font-size: xx-large;
    margin: auto 20%;
    text-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

/* Botón <ver más> */
.see-more-button {
    display: flex;
    justify-content: center;
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: #0E1111;
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 6.25rem;
    height: 2.5rem;
    font-size: 1.125rem;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    border-radius: 1rem;
    margin: auto;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: transform 200ms, box-shadow 200ms;
}

.see-more-button:hover {
transform: translateY(0.25rem) translateX(0.25rem);
}

/* Productos destacados */
.featured-container {
    background-color: white;
}

/* Productos destacados. Título. */
.featured-title {
    margin-top: 3rem;
    font-family: 'Staatliches', cursive;
    font-size: 1.8rem;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

/* Contenedor de los productos */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    justify-items: center;
    margin: 3rem 7rem;
}

/* Card */
.card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    max-width: 18.75rem;
    margin: auto;
    text-align: center;
}

/* Título de Card */
.card h2, .card h3 {
    margin: 1rem;
    font-size: large;
    font-family: 'Nunito', cursive;
}

/* Precio */
.price {
    margin: 1rem;
    color: grey;
    text-align: center;
    font-family: 'Nunito', cursive;
    font-size: medium;
    font-weight: 500;
}

/* Botón de Card */
.card button {
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: white;
    background-color: #0E1111;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.125rem;
    font-family: 'Staatliches', cursive;
}

.card button:hover {
    opacity: 0.7;
}

/* Botón <Enviar> */
.send-button {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    background-color: #457B9D;
    padding: 0.3em 0.6em;
    border-radius: 0.6em;
    box-shadow: #1D3557 0.25em 0.25em 0;
    border-radius: 0.5em;
    transition: transform 200ms, box-shadow 200ms;
}

.send-button:hover {
    transform: translateY(0.25em) translateX(0.25em);
    box-shadow: #1D3557 0 0 0;
}

/* Formato de footer */
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    background-color: #0E1111;
}

/* Texto de copyright */
.footer-text {
    grid-area: 1/2/2/3;
    margin: auto;
    font-family: 'Nunito', cursive;
    color: white;
    text-align: center;
}

/* Sección de redes sociales */
.follow-us-container {
    display: grid;
    grid-area: 1/3/2/4;
    margin: 1.25rem 2rem;
    justify-items: end;
}

/* Seguinos */
.follow-us-text {
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-family: 'Candara';
    color: white;
    padding-right: 2em;
}

/* Contenedor de íconos de redes sociales */
.follow-us-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 2em;
}

/* Íconos de redes sociales */
.follow-us-icon {
    max-width: 100%;
    height: auto;
    padding: 0.125em;
}

/* Barra de los html */
.us-background,
.products-background,
.faq-background,
.location-background,
.contact-background {
    margin: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 5em;
    background-color: #0E1111;
}

.us-background div,
.products-background div,
.faq-background div,
.location-background div,
.contact-background div {
    display: flex;
    vertical-align: middle;
    width: 100%;
    padding: 0 2em;
}

/* Formato del texto en la barra */
.us-text,
.products-text,
.faq-text,
.location-text,
.contact-text {
    margin: auto;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 2em;
    color: white;
}

/* Bloque que contiene al artículo completo */
.article-container {
    display: grid;
    justify-items: center;
    margin: 3rem 9rem;
}

/* Contiene el texto y la imagen del artículo */
.article-content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    margin: 2em;
}

/* Formato del texto del artículo */
.article-text {
    font-family: 'Nunito', cursive;
    text-align: justify;
}

/* Contenedor de la imagen del artículo */
.article-image-container {
    display: grid;
    margin: auto;
    align-items: center;
}

/* Sección. <¿Por qué elegirnos?> */
.choosing-us-container {
    margin: 3rem;
}

/* Formato. <¿Por qué elegirnos?> */
.choosing-us-text {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: 2rem;
    text-align: center;
}

/* Contenedor de motivos */
.motives-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    width: 95%;
    margin: 2rem auto;
    padding-bottom: 2rem;
}

/* Contenedor del motivo */
.motives-container div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 5rem);
    justify-items: center;
    align-items: center;
    padding: 0 1rem;
}

/* Íconos del motivo */
.motives-container div img {
    display: grid;
    justify-items: center;
    margin: auto;
}

/* Título del motivo */
.motives-container div h3 {
    display: grid;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
}

/* Descripción del motivo */
.motives-text {
    display: grid;
    align-items: center;
    margin: auto;
    font-family: 'Nunito', cursive;
    text-align: justify;
}

/* Acordeón hecho con CSS */
#accordion {
    margin: 6.25rem auto;
    width: 37.5rem auto;
}

#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 0.625rem;
    background: white;
    padding: 0.625rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

#accordion li label {
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}

#accordion li label h2 {
    justify-content: center;
    font-size: larger;
    font-family: 'Staatliches', cursive;
}

.content {
    text-align: justify;
    padding: 0.5em 0;
    font-family: 'Nunito', cursive;
}

#accordion li label span {
    transform: rotate(90deg);
    font-size: 1.375rem;
    color: #0E1111;
    font-weight: 900;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content {
    padding: 0 0.625rem;
    line-height: 1.625rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 25rem;
}

/* Contenedor de preguntas frecuentes */
.faq-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

/* Contenedor de los locales */
.stores-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin: 4rem 6rem;
}

/* Contenedor del local indvidual */
.store-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
    width: 37.5rem;
    height: 34rem;
    overflow: hidden;
    margin: 1.5em 0;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}

/* Contenedor del mapa */
.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
    z-index: 0;
}

/* Responsive iframe */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Formato de la dirección */
.store-location {
    font-family: 'Nunito', cursive;
}

/* Formulario */
.form-container {
    margin: 1.25em 0;
}

/* Ubicación del formulario */
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
}

/* Título del formulario */
.form-content h2 {
    text-align: center;
    font-family: 'Nunito', cursive;
    padding-bottom: 1.25em;
}

/* Cajas del formulario */
.name-box,
.email-box,
.subject-box {
    display: flex;
    padding: 0.5em;
    margin: 0.5em auto;
    max-width: 23em;
    min-width: 31em;
    border-style: solid;
    border-width: 0.063em;
    color: #6F6F6F;
}

/* Caja de mensaje */
.message-box {
    display: flex;
    padding: 0.5em;
    margin: 0.5em auto;
    max-width: 23em;
    min-width: 31em;
    height: 19em;
    border-style: solid;
    border-width: 0.063em;
    color: #6F6F6F;
}

/* Botón para enviar */
.send-button-container {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
}