/* Footer */

// Contenedor | Footer
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: nth($colors, 1);

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
    }

    // Texto | Footer
    .footer-text {
        margin: 1rem;
        font-family: $secondary-font;
        color: nth($colors, 2);
        text-align: center;

        @media screen and (min-width: 768px) {
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    // Contenedor | <Seguinos en>
    .follow-us-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;

        @media screen and (min-width: 768px) {
            grid-area: 1 / 3 / 2 / 4;
            align-items: end;
            padding-right: 1rem;
        }

        // Texto | <Seguinos en>
        .follow-us-text {
            text-align: center;
            text-transform: uppercase;
            font-size: large;
            font-family: $footer-font;
            color: nth($colors, 2);
        }

        // Contenedor | <Seguinos en> | Íconos
        .follow-us-icon-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            // Separación entre íconos
            .follow-us-icon {
                padding: 0 0.125rem;
            }
        }
    }
}

/* Fin | Footer */