/* Footer */

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    background-color: nth($colors, 1);

    @media screen and (max-width: 648px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .footer-text {
        grid-area: 1/2/2/3;
        margin: auto;
        font-family: $secondary-font;
        color: nth($colors, 2);
        text-align: center;

        @media screen and (max-width: 648px) {
            grid-area: 1/1/2/2;
        }
    }

    .follow-us-container {
        display: grid;
        grid-area: 1/3/2/4;
        margin: 1.25rem 2rem;
        justify-items: end;

        @media screen and (max-width: 648px) {
            grid-area: 2/1/3/2;
            justify-items: center;
            margin: auto;
        }

        .follow-us-text {
            text-align: center;
            text-transform: uppercase;
            font-size: large;
            font-family: $footer-font;
            color: nth($colors, 2);
            padding-right: 2rem;

            @media screen and (max-width: 648px) {
                padding-right: 0;
            }
        }

        .follow-us-icon-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding-right: 2rem;

            @media screen and (max-width: 648px) {
                padding-right: 0;
            }
        }

        .follow-us-icon {
            max-width: 100%;
            height: auto;
            padding: 0.125rem;
        }
    }
}

/* Fin de Footer */