/* Header */

// Contenedor | Navbar
.nav-container {
    background-color: nth($colors, 2);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    @media screen and (min-width: 768px) {
        position: sticky;
    }

    // Contenido | Navbar
    .nav-content {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr;
            grid-column-gap: 1rem;
            align-items: center;
        }

        // Estilo | Marca
        .brand {
            display: flex;
            justify-content: center;
            vertical-align: center;
            font-family: $brand-font;
            font-size: 3rem;
            letter-spacing: 0.1rem;
            color: nth($colors, 1);
            text-decoration: none;
            text-transform: lowercase;
            margin: 1rem;
            @extend %brand;
            @include keyframes(brand);

            @media screen and (min-width: 768px) {
                justify-content: flex-start;
            }
        }

        div {

            // Contenedor | Enlaces de navegaci贸n
            .nav-item-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                list-style: none;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    justify-content: end;
                }

                // Separaci贸n | Enlaces de navegaci贸n
                li {
                    margin: 0.5rem;

                    @media screen and (min-width: 1024px) {
                        margin: 1rem;
                    }
                }

                // Estilo | Enlaces de navegaci贸n
                .nav-item {
                    text-decoration: none;
                    color: nth($colors, 1);
                    font-size: 1.25rem;
                    font-family: $main-font;
                    text-transform: uppercase;
                    @extend %underline;
                }
            }
        }
    }
}

/* Fin | Header */