/* Index | Main*/

main {
    background-color: nth($colors, 2);

    .background-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        width: 100%;
        height: 31.25rem;
        background-image: url('../resources/foto-portada.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            height: 43.75rem;
        }

        .ad-container {
            display: grid;
            grid-area: 2 / 1 / 3 / 2; 
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr;
            grid-column-gap: 16px;
            justify-items: center;
            align-items: center;
            max-width: 320px;
            width: 100%;
            height: 13.125rem;
            background-color: nth($colors, 2);
            color: nth($colors, 1);
            text-shadow: $text-shadow;
            box-shadow: $box-shadow;

            @media screen and (min-width: 768px) {
                grid-area: 2 / 2 / 3 / 3;
                max-width: 24rem;
                height: 15.25rem;
            }

            @media screen and (min-width: 1024px) {
                max-width: 32rem;
            }

            .ad-text {
                text-align: center;
                font-family: $footer-font;
                font-size: 1.7rem;
                text-shadow: $text-shadow;
                margin: 1rem;
            }

            .see-more-button {
                @extend %buttons;
                display: flex;
                justify-content: center;
                align-items: center;
                color: nth($colors, 2);
                background-color: nth($colors, 1);
                margin: 0.5rem;
            }
        }
    }

    .featured-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: nth($colors, 2);

        .featured-title {
            margin-top: 3rem;
            font-family: $main-font;
            font-size: 1.8rem;
            color: nth($colors, 1);
            text-transform: uppercase;
            text-align: center;
        }

        .cards-container {
            @extend %cards-container;

            .card {
                @extend %card;

                .card-title {
                    @extend %card-title;
                }

                .price {
                    @extend %price;
                }

                p {
                    button {
                        @extend %add-to-cart;
                    }
                }
            }
        }
    }
}

/* Fin de Index | Main*/