/* Nosotros | Main */

// Barras | Título
.bar-background {
    @extend %bar-background;

    div {
        @extend %bar-div;

        // Estilo | Barras | Texto
        .bar-text {
            @extend %bar-text;
        }
    }
}

// Contenedor | Artículo | Nosotros
.article-container {
    margin: 1.5rem;

    // Contenido | Artículo | Nosotros
    .article-content {
        gap: 2rem;

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 2rem auto;
            max-width: 64rem;
        }

        // Posición del Texto | Artículo | Nosotros
        .article-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Estilo | Artículo | Nosotros
            .article-text {
                font-family: $secondary-font;
                text-align: justify;
                margin-bottom: 0.5rem;
            }

            .article-text-1 {
                margin-top: 0.5rem;
            }
        }

        // Contenedor | Imagen | Artículo | Nosotros
        .article-image-container {
            max-width: 100%;

            @media screen and (min-width: 480px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // Tamaño de Imagen | Artículo | Nosotros
            img {
                max-width: 100%;
            }
        }
    }
}

// Contenedor | <¿Por qué elegirnos?>
.choosing-us-container {
    margin: 1.5rem;
    padding-bottom: 1rem;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 31.25rem;
        margin: auto;
    }

    @media screen and (min-width: 1024px) {
        width: 64rem;
    }

    // Estilo del Título | <¿Por qué elegirnos?>
    .choosing-us-text {
        text-align: center;
        font-family: $main-font;
        padding-bottom: 1.5rem;

        @media screen and (min-width: 1024px) {
            padding-bottom: 0;
        }
    }

    // Contenedor | Motivos
    .motives-container {

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
            margin: 2rem 1rem;
            justify-content: center;
            align-items: start;
        }

        // Posición | Motivo
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Imágen | Motivo
            img {
                max-width: 2rem;
                max-height: 2rem;
                margin: 1rem;

                @media screen and (min-width: 480px) {
                    max-width: 4rem;
                    max-height: 4rem;
                }
            }

            // Título | Motivo
            h3 {
                font-family: $main-font;
                margin: 1rem;
            }

            // Texto | Motivo
            p {
                font-family: $secondary-font;
                text-align: justify;
            }
        }
    }
}

/* Fin de Nosotros | Main*/