/* Nosotros | Main*/

.bar-background {
    @extend %bar-background;

    div {
        @extend %bar-div;

        .bar-text {
            @extend %bar-text;
        }
    }
}

.article-container {
    margin: 1rem;

    .article-content {
        gap: 2rem;

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 2rem auto;
            max-width: 64rem;
        }

        .article-text-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            .article-text {
                font-family: $secondary-font;
                text-align: justify;
            }
        }

        .article-image-container {
            max-width: 100%;

            @media screen and (min-width: 480px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                max-width: 100%;
            }
        }
    }
}

.choosing-us-container {
    margin: 1rem;
    padding-bottom: 1rem;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 31.25rem;
        margin: auto;
    }

    @media screen and (min-width: 1024px) {
        width: 64rem;
    }

    .choosing-us-text {
        text-align: center;
        font-family: $main-font;
        padding-bottom: 1.5rem;

        @media screen and (min-width: 1024px) {
            padding-bottom: 0;
        }
    }

    .motives-container {

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
            margin: 2rem 1rem;
            justify-content: center;
            align-items: start;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                max-width: 2rem;
                max-height: 2rem;
                margin: 1rem;

                @media screen and (min-width: 480px) {
                    max-width: 4rem;
                    max-height: 4rem;
                }
            }

            h3 {
                font-family: $main-font;
                margin: 1rem;
            }

            p {
                font-family: $secondary-font;
                text-align: justify;
            }
        }
    }
}

/* Fin de Nosotros | Main*/