/* Ubicación | Main*/

// Título | Sección
.section-title {
    @extend %section-title;
}


.location {

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    // Contenedor | Tiendas
    .stores-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 16px;
        margin: 1rem;
        justify-items: center;
        align-items: center;

        @media screen and (min-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 5rem;
        }

        // Contenedor | Tienda
        .store-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr;
            box-shadow: $box-shadow;

            @media screen and (min-width: 480px) {
                width: 28rem;
            }

            // Contenedor | Mapa
            .map-container {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-top: 100%;

                // Mapa | Responsive
                .responsive-iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            // Contenedor | Información de la Tienda
            .store-information-container {
                display: grid;
                align-items: center;

                // Información | Tienda
                .store-information {
                    display: grid;
                    grid-template-columns: 1fr 8fr;
                    grid-template-rows: repeat(2, 1fr);
                    font-family: $secondary-font;
                    align-items: center;
                    margin: 0.5rem;

                    // Íconos | Información de la Tienda
                    img {
                        display: grid;
                        align-self: end;
                        margin: 0.5rem;
                    }

                    // Texto | Información de la Tienda
                    p {
                        display: flex;
                        justify-content: flex-start;
                        font-size: small;

                        @media screen and (min-width: 480px) {
                            font-size: medium;
                        }
                    }
                }
            }
        }
    }
}

/* Fin de Ubicación | Main */