/* Ubicación | Main*/

.section-title {
    @extend %section-title;
}

.stores-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    margin: 4rem 6rem;

    @media screen and (max-width: 1411px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }

    @media screen and (max-width: 600px) {
        margin: 2rem 3rem;
    }

    @media screen and (max-width: 468px) {
        height: 63rem;
        gap: 2rem;
    }

    @media screen and (max-width: 375px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .store-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        box-shadow: $box-shadow;

        @media screen and (max-width: 468px) {
            width: 18.75rem;
            height: 18.75rem;
        }

        @media screen and (max-width: 375px) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: auto;
        }

        .map-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 100%;

            .responsive-iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }

        .store-information-container {
            display: grid;
            align-items: center;

            .store-information {
                display: grid;
                grid-template-columns: 1fr 8fr;
                grid-template-rows: repeat(2, 1fr);
                font-family: $secondary-font;
                align-items: center;
                margin: 0.5rem;

                img {
                    display: grid;
                    align-self: end;
                    margin: 0.5rem;
                }

                p {
                    display: flex;
                    justify-content: flex-start;

                    @media screen and (max-width: 468px) {
                        font-size: small;
                    }
                }
            }
        }
    }
}

/* Fin de Ubicación | Main */