@mixin keyframes($brand) {
    @keyframes brand {
        0% {
            filter: blur(0.75rem);
            opacity: 0;
        }

        100% {
            filter: blur(0rem);
            opacity: 1;
        }
    }
}

%brand {
    animation: brand 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

%underline {
    @media screen and (min-width: 601px) {
        background-image: linear-gradient(transparent 0%, transparent 90%, black 90%, black 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 300ms;

        &:hover {
            background-size: 100% 100%;
            background-position-x: left;
        }
    }
}