@import 'colors';
@import 'fonts';
@import 'shadows';

%buttons {
    border: none;
    outline: 0;
    width: 7.1875rem;
    height: 2.8125rem;
    border-radius: 0.3125rem;
    font-family: $main-font;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

%add-to-cart {
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: nth($colors, 2);
    background-color: nth($colors, 1);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.125rem;
    font-family: $main-font;

    &:hover {
        opacity: 0.7;
    }
}