$main-font: 'Staatliches',
cursive;
$secondary-font: 'Nunito',
cursive;
$footer-font: 'Candara';
$brand-font: 'Baloo Bhai 2',
cursive;

%section-title {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    font-family: $secondary-font;
    font-size: x-large;
    font-weight: bolder;

    @media screen and (max-width: 468px) {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
    }
}