%cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    justify-items: center;
    margin: 3rem 7rem;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
        margin: 3rem 15rem;
    }

    @media screen and (max-width: 850px) {
        grid-template-columns: 1fr;
        column-gap: 3rem;
        margin: 3rem;
    }
}

%card {
    box-shadow: $card-shadow;
    max-width: 18.75rem;
    margin: auto;
    text-align: center;
}

%card-title {
    margin: 1rem;
    font-size: large;
    font-family: $secondary-font;
}

%price {
    margin: 1rem;
    color: nth($colors, 5);
    text-align: center;
    font-family: $secondary-font;
    font-size: medium;
    font-weight: 500;
}