%cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    @media screen and (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        max-width: 62.5rem;
        margin: 1rem auto;
    }
}

%card {
    box-shadow: $card-shadow;
    max-width: 18.75rem;
    margin-bottom: 1rem;
}

%card-title {
    margin: 1rem;
    font-size: large;
    font-family: $secondary-font;
    text-align: center;
}

%price {
    margin: 1rem;
    color: nth($colors, 5);
    text-align: center;
    font-family: $secondary-font;
    font-size: medium;
    font-weight: 500;
}